// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

$font-primary: 'Montserrat', sans-serif;

// Colours
$dark:    #263238;
$light:   #FAFAFA;
$teal:    #00897B;
$pink:    #D81B60;
$purple:  #512DA8;
$blue:    #1976D2;
